@charset "UTF-8";
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* リセットCSSとノーマライズCSS */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* ------------------------------------------------------------ */
/* リセットCSS */
/* ------------------------------------------------------------ */
/* 代表的なブロック要素の隙間を無くす */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li{
	margin:0;
	padding:0;
	font-size: 16px;
	line-height:1;
}

/* 主要どころであとで再設定する */
li{
	list-style: none;
}


/* ------------------------------ */
/* img系 */
/* ------------------------------ */
/* 画像下の隙間を無くす */
img{
	vertical-align:top;	/* 中身画像一個で隙間が空く場合はline-height:0;をつける */
}

/* IEで画像をリンクした場合の外周2pxの線を消す */
a img{
	border:none;
}

/* クリックした後に残る点線の枠が無くなる。 */
/*
a{
	outline:none;
}
*/


/* ------------------------------ */
/* 一般id内でのレイアウト崩れを防止 */
/* ------------------------------ */
#header,
#contents,
#footer{
	display:block;	/* 他ブラウザやDwで表示が崩れたりするので念のため */
	clear:both;			/* float対策 */
	position:relative;	/* absolute対策 */
}


/* ------------------------------------------------------------ */
/* レスポンシブCSS */
/* ------------------------------------------------------------ */
/* 画像のレスポンシブ対応 */
/* width: 100%;				画像本来のサイズを超える */
/* max-width: 100%;		画像本来のサイズは越えない */
img {
 max-width: 100%;
 height: auto;
}




/* ------------------------------------------------------------ */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* END */
